<!DOCTYPE html>
<html>
<head>
  <title>PlayaApp</title>
  <link href='//fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//connect.soundcloud.com/sdk.js"></script>
</head>
<body>

<%= yield %>

</body>
<% if @current_user.present? %>
<script>
var playa = playa || {};
playa.currentUser = new playa.User(<%== @current_user.to_json %>);
</script>
<% end %>
</html>
